<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <defaultDocument>
            <files>
                <clear />
                <add value="index.py" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules> 
                <rule name="Imported Rule 1" stopProcessing="true">
                    <match url=".*" ignoreCase="false" />
                    <conditions logicalGrouping="MatchAll">
                        <add input="{URL}" pattern="^/(img|css|js)/" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsFile" ignoreCase="false" negate="true" />
                        <add input="{REQUEST_FILENAME}" matchType="IsDirectory" ignoreCase="false" negate="true" />
                    </conditions>
                    <action type="Rewrite" url="index.py" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="www@tobivision.co">
                <network defaultCredentials="true" host="mail.tobivision.co" />
            </smtp>
        </mailSettings>
    </system.net>
</configuration> 